/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 14-Sep-2016, 12:32:26
    Author     : Lee Cider McBreeze
*/

body{
    background-color: darkgrey;
}
form{
    background-color: #fff;
    width: 500px;
}
#wrap{
     background-color: powderblue;
}
